<app-page [fullWidth]="true">

  <!-- home.component.html -->
  <div class="home-container">
    <!-- Hero Section -->
    <section class="section-wrapper bg-white">
      <div class="hero-overlay">
        <div class="hero-content">
          <div class="text-section">
            <h1>Bienvenue sur notre plateforme</h1>
            <p>
              Découvrez une expérience unique et innovante. Nous vous offrons les
              meilleurs services pour répondre à tous vos besoins.
            </p>
          </div>

          <div class="image-section">
            <img
              src="assets/images/middlepage.jpg"
              alt="Hero image"
              class="hero-image"
            />
            <button class="hero-button" (click)="onDonateClick()">
              Commencer
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Impact Counter Section -->
    <section class="section-wrapper bg-gray">
      <div class="section-content">
        <h2>{{ config?.impact_counter_title }}</h2>
        <app-impact-tracker></app-impact-tracker>
      </div>
    </section>

    <!-- Quiz Section -->
    <section class="section-wrapper bg-white">
      <div class="section-content">
        <app-quiz></app-quiz>
      </div>
    </section>

    <!-- Donation Section -->
    <section class="section-wrapper bg-white">
      <div class="section-content">
        <app-donation-form></app-donation-form>
      </div>
    </section>

    <!-- journey-timeline Section -->
    <section class="section-wrapper bg-gray">
      <div class="section-content">
        <app-journey-timeline></app-journey-timeline>
      </div>
    </section>

    <!-- Leaderboard Section -->
    <section class="section-wrapper bg-gray">
      <div class="section-content">
        <app-leaderboard></app-leaderboard>
      </div>
    </section>

    <!-- Quiz Section -->
    <section class="section-wrapper bg-white">
      <div class="section-content">
        <app-quiz></app-quiz>
      </div>
    </section>

    <!-- achievements Section -->
    <section class="section-wrapper bg-gray">
      <div class="section-content">
        <app-achievements></app-achievements>
      </div>
    </section>

    <!-- ai-chat  Section -->
    <section class="section-wrapper bg-gray">
      <div class="section-content">
        <app-ai-chat *ngIf="showChat"></app-ai-chat>
      </div>
    </section>
  </div>




</app-page>
